@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Roboto+Slab&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: "bree Serif";
}

html {
    scroll-behavior: smooth;
}


body{
    background: rgb(29,228,18);
    background: linear-gradient(0deg, rgba(29,228,18,1) 3%, rgba(8,166,203,1) 98%);
}

header{
    width: 100%;
    height: 8vh;
    display:flex;
    align-items: center;
    justify-content: center;
    background-color: darkcyan;
}

main{
    width: 85%;
    margin-top: 2vh;
    margin-bottom: 2vh;
    margin-left: 7%;
    border-radius: 20px;
    background-color: #ffff;
}

footer{
    display: flex;
    align-items: center;
    height: 10em;
    justify-content: space-around;
    background-color: rgb(28, 180, 149);
}

header li{
    font-size: 20px;
    color:black;
    border: solid cadetblue 3px;
    border-radius: 13px;
}

header li:hover{
    transition: 500ms;
    scale: 115%;
    color: #ffff;
}

header ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 30vw;
}

header nav{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}


figcaption{
    text-align: center;
    width: 25vw;
}

.voltar{
    display: flex;
    align-items: end;
    justify-content: center;
    margin-left: 2%;
}


.mudarTema{
    display: flex;
    background: transparent;
    border-radius: 20px;
    border: none;
    height: 3em;
}
.mudarTema:hover{
    transition: 350ms;
    transform: scale(110%);
    cursor: pointer;
}

input{
    width: 10vw;
    height: 2.5vh;
    text-align: center;
    border-radius: 13px;
}

button{
    border-radius: 10px;
    border: none;
    display: flex;
    text-align: center;
    background-color: lightgreen;
    font-size: 18px;
    height: 3vh;
}

.submit:hover{
    transition: 340ms;
    transform: scale(110%);
    cursor: pointer;
}

footer figure{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 35vw;
}

footer p{
    font-size: 15px;
    font-style: italic;
    width: 30vw;
}

.copyright{
    display: flex;
    height: 2vh;
}

.cadastro{
    display: flex;
    flex-direction: column;
    align-items: start;
    height: 15vh;
    justify-content: space-evenly;
}

.lupa{
    width: 2vw;
}

.icon{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 10vw;
}


.tema-claro {
    background-color: white;
    color: black;
    transition: background-color 550ms, color 550ms;
}


.tema-escuro {
    background-color: black;
    color: white;
    transition: background-color 550ms, color 550ms;
}


.irTopo{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: lightseagreen;
    border-radius: 13px;
    width: 15vw; 
}

.irTopo:hover{
    transition: 450ms;
    transform: scale(110%);
}
.topo:hover{
    transition: 350ms;
    color: #ffff;
}

.topo{
    color: black;
    text-decoration: none;
}

.seta{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 4vh;
}


.space{
    color: transparent;
}

.foto{
    margin-top: 4vh;
    border-radius: 20px;
    height: 30vh;
}

.primeiraSessao{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 95%;
}


.bootstrap{
    margin-top: 3vh;
    margin-bottom: 2vh;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    flex-wrap: wrap;
    width: 32vw;
}

.sessaoBootstrap{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.bootstrap img{
    border-radius: 20px;
}